@use '../custom' as *;
@use '../componanets/mixins' as *;



.btn-rounded {
    /*@include media-breakpoint-down(sm) { 
        display: none;
       
        
     }*/

    position: relative;
    padding: 0.9375rem 4.375rem 0.937rem 1.2rem ;
    font-weight: 500;
    margin: 0;
    border: 0.1rem solid rgba($white,0.6);
    background-color: $white;
    transition: 1s;
    span{
        position: absolute;
        background: $primary;
        width: 2.5rem;
        height: 2.5rem;
        top: 15%; right: 5px;
        transform: translateY(-50);
        border-radius: 50%;
        i{
            @include center ;
            position: absolute;
            top: 30%;right: 20%;
            font-size: 1.3rem;
            color: $white;
        }

        
    }
    &:hover{
        @include gradeint;
        color: $white;
        span{
            background: rgba($black,0.6);
        }
    }
}